@using Microsoft.AspNetCore.Mvc.Localization
@using MyLocalizedMvcWebApp.Controllers
@inject IHtmlLocalizer<HomeController> Localizer

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <p>Note that this title is translated (set in the cshtml), as well as the title in the browser tab (set in cs).</p>
</div>
